* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000;   
}

.calculator-container {
    background-color: #2a2c31;
    padding: 24px 12px 12px;
    border-radius: 10px;
}

.screen-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: floralwhite;
    color: #4b4b4b;
    font-size: 35px;
    height: 60px;
    margin: 0 6px;
    padding-right: 6px;
    border-radius: 4px;
}

button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
    font-weight: bolder;

}

button:hover {
    cursor: pointer;
    background: #1f409b5d;
}

.orange {
    background-color: #2346a8;
    color: #fff;
}

.gray {
    background-color: #505050;
    color: #fff;
}
