* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000;   
}

.calculator-container {
    background-color: #2a2c31;
    padding: 24px 12px 12px;
    border-radius: 6px;
}

.screen-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: floralwhite;
    color: #4b4b4b;
    font-size: 35px;
    height: 50px;
    margin: 0 6px;
    padding-right: 6px;
    border-radius: 4px;
}

.calculator-buttons {
    border-spacing: 6px;
    border-radius: 4px;
}

td {
    width: 45px;
    height: 45px;
    text-align: center;
    color: #fff;
    background-color: #2d323d;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;

    transition: background 0.2s;
}

td:hover {
    background-color: #262c3a;
}