* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #020101;   
}

.calculator-container {
    background-color: #291d21;
    padding: 24px 12px 12px;
    border-radius: 20px;
    width: 25em;
    height: 33em;
    align-items: center;
}

.screen-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #e1daca;
    color: #291d21;
    font-size: 35px;
    height: 60px;
    margin: 0 6px;
    padding-right: 6px;
    border-radius: 4px;
}

.calculator-buttons {
    padding: 10px;
    margin: 0 5px;
} 

button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
    font-weight: bolder;

    transition: background 0.2s;
}

button:hover {
    cursor: pointer;
    background: #663f4cc7;
}

.pink {
    background-color: #cb6f84;
    color: #fff;
}

.gray {
    background-color: #5d544d;
    color: #fff;
}

#buttonZero {
    width: 6.4em;
    height: 2.85em;
}